<div class="center jumbotron">
  <h1 style="text-align: center;" >Welcome to the Rails App</h1>

  <%= image_tag("Kids-are-welcoming-you.jpeg", :style => "display: block; width: 70%; height: 70%; margin-left: auto; margin-right: auto") %>
  

  <h2>
    
  </h2>

  <%= link_to "Sign up now!", '#', class: "btn btn-lg btn-primary" %>
</div>

