<div class="row">
  <div class="col-md-4">
  	<br><br><br>
    <h1>Make Appointment</h1>
    <%= render partial: 'form', locals: { appointment: @appointment} %>
  </div>  
  <div class="col-md-8">
    <%= add_weekly_calendar(@appointments) %>
  </div>
</div>
